body {
  font-family: "ProximaNova";
  color: #3a3a3a;
}

.my-link {
  color: white;
  border-bottom-color: red !important
}


a:hover {
  color: #2ecff9;
}

iframe{
  width: -webkit-fill-available;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

button.agebtn {
  margin-top: 5px;
  height: auto;
}

.card {
  padding-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #3f3f3f;
  width: 33%;
  padding: 20px;
  margin-left: 10px;
}
.certification{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-cert {
  max-width: 200px;
  max-height: 200px;
}

.comspacegap {
  /* padding-top: 35px; */
}

.comspace {
  padding-top: 35px;
  color: white;
  display: flex;
}

.card60 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60%;
  padding: 20px;
  margin-left: 10px;
  background: url(../img/weature.jpg) no-repeat;
  background-size: cover;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.main-weature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img.instagrmimg {
  width: 40px;
  height: 40px;
}

.header {
  padding-top: 2em;
}

li.instagrm {
  width: 48px;
  height: 48px;
  padding-top: 13px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-change {
  top: 30vh;
  right: -50px;
  padding: 5px 5px 0;
  background-color: rgba(250, 250, 252, 1);
  position: fixed;
  z-index: 99999999999999999999999999999999;
  border-radius: 0 0 2px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #8c8c8e;
}

.red {
  background-color: #f44336;
}

.orange {
  background-color: #ffc107;
}

.green {
  background-color: #4caf50;
}

.blue {
  background-color: #64b5f6;
}

.swapColor {
  height: 40px;
  width: 40px;
  display: block;
  margin-bottom: 5px;
  border-radius: 1px;
  filter: brightness(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.open-changer {
  cursor: pointer;
  position: absolute;
  background-color: #3c84f7;
  height: 40px;
  width: 40px;
  top: 0;
  left: -40px;
  color: rgba(32, 32, 42, 1);
  display: flex;
  justify-content: center;
}

.active-changer {
  right: 0;
}

.open-changer i {
  align-self: center;
  animation: rotate 2s infinite linear;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "ProximaNova";
  color: #3a3a3a;
  font-size: 3.5em;
}

h2 {
  font-family: "ProximaNova";
  color: #3a3a3a;
  font-size: 1.4em;
}

h3 {
  font-family: "ProximaNova";
  color: #3a3a3a;
  font-size: 0.8em;
  text-align: center;
}

h4 {
  font-family: "ProximaNova";
  font-size: 1.2em;
  color: white;
  text-align: center;
}

p {
  font-family: "ProximaNova";
  font-size: 30px;
  color: #3a3a3a;
  font-size: 1.3em;
  text-align: justify;
}

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  overflow: visible;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

#preload_wrapper {
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
}

@-moz-keyframes preloader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes preloader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* ////////////////////////// Preloader ////////////////////// */
.wrapper {
  width: 100%;
  background-color: transparent;
  height: 80px;
  position: fixed;
  top: 0px;
  z-index: 999;
  border-right: 20px solid white;
  border-left: 20px solid white;
  transition: all 0.2s ease-in-out;
}

header.nav-up .wrapper {
  top: -80px;
}

header.nav-down.reachedTop .wrapper {
  top: 20px;
}

a.logo {
  text-transform: uppercase;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  color: #3a3a3a;
}

a.logo span {
  color: #fff;
}

ul.menu {
  margin-top: 27px;
}

ul.menu li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

ul.menu li a {
  text-transform: uppercase;
  font-family: "ProximaNova";
  font-size: 14px;
  letter-spacing: 2px;
  color: #000;
  font-weight: bold;
}

ul.menu li a:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 6px;
}

@keyframes slideleft {
  from {
    background-position: 0%;
  }

  to {
    background-position: 90000%;
  }
}

@-webkit-keyframes slideleft {
  from {
    background-position: 0%;
  }

  to {
    background-position: 90000%;
  }
}

section.intro {
  background: url(../img/mainphoto.webp) repeat-x top center;
  background-size: contain;
  background-repeat: repeat;
  /*animation:slideleft 20000s infinite linear;-webkit-animation:slideleft 20000s infinite linear;width:100%;*/
  background-color: #41b0bf;
  padding-bottom: 70px;
  position: relative;
  border-right: 20px solid #fff;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
  padding-top: 80px;
}

section.intro h1 {
  margin-top: 0px;
  line-height: 1.2;
  font-family: "ProximaNovaT";
  color: #3a3a3a;
  font-size: 65px;
}

section.intro span.design {
  font-family: "ProximaNovaT";
}

section.intro span {
  font-family: "ProximaNova";
}

a.btn {
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 14px;
  display: inline-block !important;
  line-height: 1.4;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a.btn:hover {
  background-color: #fff;
  color: #009ca8;
}

a.btn.project {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

a.btn.project:hover {
  background-color: #fff;
  color: #fe5f55;
}

section.about {
  padding: 0px;
  border-right: 20px solid white;
  border-left: 20px solid white;
}

section.about h1 {
  color: #3a3a3a;
  font-family: "ProximaNovaT";
  font-size: 65px;
  margin-top: 50px;
}

section.about a.pronounce span {
  color: #ababab;
  cursor: help;
  border-bottom: 1px dotted rgb(216, 216, 216);
  letter-spacing: 1px;
}

section.about a.pronounce {
  border-bottom: none;
}

section.about a.pronounce:hover {
  border-bottom: none;
}

section.about p {
  color: #838383;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 21px;
}

section.about p a {
  color: #838383;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 1px;
}

section.about p a:hover {
  border-bottom: 1px solid #009ca8;
}

section.about img {
  display: block;
  margin: auto;
  border-radius: 50%;
}

section.about h2 {
  font-family: "ProximaNova";
  color: #676767;
  font-size: 17px;
  line-height: 2.2em;
}

ul.tools,
ul.lang,
ul.hobbies {
  margin: 0;
}

ul.lang {
  margin-top: 12px;
}

ul.tools li,
ul.hobbies li {
  list-style: none;
  display: inline-block;
  background-size: 500px;
  margin-left: 17px;
}

ul.lang li {
  list-style: none;
  display: inline-block;
}

section.projects h1 {
  color: #fff;
  font-family: "ProximaNovaT";
  font-size: 50px;
  margin-top: 20px;
}

section.projects p {
  color: #fff;
  margin: 0 auto;
  font-size: 15px;
  margin-left: 4px;
}

section.sayhello {
  background: #fff;
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  border-right: 20px solid white;
  border-left: 20px solid white;
}

section.sayhello h1 {
  color: #000;
  font-family: "ProximaNovaT";
  font-size: 65px;
}

section.sayhello p {
  color: #848484;
  margin: 0 auto;
  font-size: 17px;
  margin-left: 4px;
}

a.email:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

a.email {
  float: right;
  font-size: 22px;
  text-align: right;
  margin-top: 52px;
  font-family: "ProximaNovaT";
  border-bottom: 1px solid #717070;
  padding-bottom: 5px;
  color: #000;
}

a.email:visited {
  color: #000;
}

.agecalculator {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

section.utilities {
  display: flex;
  flex-direction: row;
  background: white;
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  border-top: 20px solid white;
}

section.quotes {
  /*background:#ffc548;*/
  background: #009ca8;
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  border-top: 20px solid white;
}

section.quotes h1 {
  color: #fff;
  font-family: "ProximaNovaT";
  font-size: 55px;
  margin-top: 40px;
}

section.quotes h2 {
  color: #fff;
  font-family: serif;
  font-style: italic;
  font-size: 32px;
  margin-top: 40px;
}

section.quotes p {
  text-align: center;
  color: #f2f2f2;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 21px;
}

.quotes_img {
  width: 150px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 50%;
  border-style: none;
  border: 0px solid !important;
}

section.coffeewithme {
  /*background:#ffc548;*/
  background: #fff;
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  border-top: 20px solid white;
}

section.coffeewithme h1 {
  color: #3a3a3a;
  font-family: "ProximaNovaT";
  font-size: 55px;
  margin-top: 0px;
}

section.coffeewithme p {
  text-align: center;
  color: #838383;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 21px;
}

section.myskills {
  /*background:#ffc548;*/
  background: #fff;
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  border-top: 20px solid white;
}

section.myskills h1 {
  color: #3a3a3a;
  font-family: "ProximaNovaT";
  font-size: 55px;
  margin-top: 0px;
}

section.myskills p {
  text-align: center;
  color: #838383;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: -30px;
  font-size: 25px;
  position: absolute;
  z-index: 1000;
  width: 100%;
  left: 0;
}

.downloadCV {
  min-height: 172px;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
}

section.projects {
  background: #303030;
  border: 20px solid white;
}

section.projects h2.name {
  font-size: 30px;
  text-align: center;
  font-family: "ProximaNovaT";
  color: #fff;
}

section.projects p.desc {
  font-size: 17px;
  text-align: center;
}

section.sayhello ul.icons {
  margin: 0;
  padding: 0;
  float: right;
  line-height: 0;
}

section.sayhello ul.icons li {
  display: inline-block;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
  margin: 30px 0px 20px 0px;
  margin-left: 20px;
}

section.sayhello .icon span.SocailLink {
  display: block;
  font-size: 12px;
  text-shadow: none;
  color: #333;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  letter-spacing: 3px;
  text-align: center;
}

section.sayhello .icon.dribbble,
section.sayhello .icon.behance,
section.sayhello .icon.behance,
section.sayhello .icon.twitter,
section.sayhello .icon.facebook {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

section.sayhello .icon.dribbble {
  color: #848484;
  font-size: 30px;
}

section.sayhello .icon.dribbble:hover {
  color: #f66699;
}

section.sayhello .icon.behance {
  color: #848484;
  font-size: 30px;
}

section.sayhello .icon.behance:hover {
  color: #339cd5;
}

section.sayhello .icon.twitter {
  color: #848484;
  font-size: 30px;
}

section.sayhello .icon.twitter:hover {
  color: #3ab6e8;
}

section.sayhello .icon.facebook {
  color: #848484;
  font-size: 29px;
}

section.sayhello .icon.facebook:hover {
  color: #3b5998;
}

section.sayhello p.credits,
section.sayhello p.made {
  font-size: 12px;
  text-align: right;
}

.numbers-inner-wrapper {
  max-width: 1150px;
  margin: 0px auto;
  margin-top: 20px;
}

.numbers-inner-wrapper > div {
  display: inline-block;
  width: 24.5%;
  text-align: center;
}

.numbers-wrapper h4 {
  /*font-family:"Roboto Slab","PT Serif","PT Sans","Times New Roman",sans-serif;*/
  font-size: 2.5rem;
  color: #009ca8;
}

.numbers-wrapper span {
  font-size: 1.2rem;
  -webkit-text-stroke: 0.2px #627175;
}

hr.num {
  margin-top: 25px;
  margin-bottom: 15px;
}

hr {
  width: 1110px;
  margin: 90px auto 0px auto;
  border: 1px solid #eff5f7;
}

.project_img {
  width: 50% !important;
  margin-top: 10px !important;
  border-radius: 4px;
  border-style: none;
  border: 0px solid !important;
  border-color: #c0c0c0;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  ul.menu li {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 40em) {
  ul.menu {
    float: left;
  }

  ul.menu a {
    font-size: 11px !important;
  }

  ul.menu li {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 320px) {
  section.intro h1 {
    font-size: 38px !important;
  }
}

@media only screen and (max-width: 64em) {
  .opl,
  .cssda {
    display: none;
  }

  section.intro,
  .wrapper,
  section.about,
  section.projects,
  section.sayhello {
    border: none;
  }

  #scene {
    display: none;
  }

  header.nav-down.reachedTop .wrapper {
    top: 0;
  }

  section.about h1 {
    font-size: 50px;
    text-align: center;
  }

  section.about p {
    padding: 15px;
    margin-bottom: -5px;
  }

  section.intro h1 {
    margin-top: 21px;
    font-size: 50px;
  }

  section.projects h1 {
    font-size: 50px;
    text-align: center;
  }

  section.projects p {
    text-align: center;
  }

  .cbp-fwslider ul li > a img {
    width: 100% !important;
  }

  .cbp-fwslider nav span {
    width: 30px !important;
  }

  .cbp-fwslider nav span.cbp-fwnext {
    right: 20px !important;
  }

  .cbp-fwslider nav span.cbp-fwprev {
    left: 20px !important;
  }

  section.sayhello h1 {
    font-size: 50px;
    text-align: center;
  }

  section.sayhello p {
    text-align: center;
  }

  section.sayhello {
    text-align: center;
  }

  a.email,
  section.sayhello ul.icons {
    float: none;
  }

  a.email {
    margin-top: 22px;
    display: inline-block;
  }

  section.sayhello ul.icons li:first-child {
    margin-left: 0;
  }
}

/* Rotating Text */
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.clip span {
  display: inline-block;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: middle;
}

ul.splide__pagination {
  display: none;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline.clip b.is-visible {
  opacity: 1;
}

.skills {
  margin: auto;
  text-align: center;
}

.pentagon {
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 3px 3px 28px 3px;
  display: inline-block;
}

.logo {
  margin-top: 75px !important;
  margin-bottom: 20px !important;
  width: 85%;
}

.iama {
  color: #f2f2f2;
  font-size: 40px;
  vertical-align: middle;
}

.cd-words-wrapper {
  color: #f2f2f2;
  font-size: 40px;
}

section.numbers-wrapper {
  margin-top: 0px;
  margin-bottom: 80px;
}

.madewithlove {
  text-align: center;
  padding-top: 20px;
}

.alignCenter {
  text-align: center;
}

span.title {
  font-family: "Sacramento", cursive !important;
  text-transform: none;
  font-weight: 400;
  color: #fff;
  font-size: 1.4em;
}

.fa-facebook-official {
  font-size: 3em !important;
  color: #3b5998;
}

.fa-youtube-play {
  font-size: 3em !important;
  color: red;
}

.fa-linkedin-square {
  font-size: 3em !important;
  color: #287bbc;
}

.fa-twitter-square {
  font-size: 3em !important;
  color: #1b95e0;
}

.fa-envelope-o {
  font-size: 3em !important;
  color: #d14836;
}

.pad10 {
  padding: 10px;
}

.fa-heart {
  color: red;
  font-size: 15px;
}

.footTitle {
  font-family: "Sacramento", cursive;
  text-transform: none;
  font-weight: 400;
  color: #41b0bf !important;
  font-size: 3em !important;
}

ul.tools {
  text-align: center;
}

ul.tools li {
  margin: 0px 2px;
}

ul.tools li i.fa {
  font-size: 35px !important;
}

li.instagrm {
  width: 38px;
  height: 45px;
  padding-top: 17px;
}

img.instagrmimg {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 600px) {
  h1.cd-headline.clip.is-full-width {
    padding-top: 10px;
  }

  .large-4.small-12.medium-4.columns {
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }
}

.jx-svg-round-button {
  display: none;
}

a[d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"] {
  display: none;
}

@media only screen and (min-device-width: 350px) and (max-device-width: 769px) {
  section.utilities {
    display: block;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    border-top: 20px solid white;
  }
  .comspace {
    color: white;
    display: block;
    padding: 5px;
  }

  .card {
    width: auto;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  .card60 {
    width: auto;
    margin-left: 0px;
    margin-bottom: 5px;
  }

}
